<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-light bg-info">
      <div class="container-fluid">
        <a class="navbar-brand">Dictionary.com</a>
        <form class="d-flex" method="">
          <input
            class="form-control me-5 mr-sm-3 "
            type="search"
            placeholder="Search"
            name="search"
            aria-label="Search"
            style="width: 1080px;"

          />
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </nav>

    {% if data %}

    <div class="d-flex">
      <div
        class="card text-white bg-{{data.color}} mb-3 ml-4 mt-5"
        style="max-width: 18rem"
      >
        <div class="card-header">{{data.word}}</div>
        <div class="card-body">
          <h5 class="card-title">{{data.partOfSpeech}}</h5>
          <p class="card-text">Definition : {{data.definition}}</p>
        </div>
      </div> 
       
        {% if data.example %}
      <div
        class="card text-white bg-{{data.color}} mb-3 ml-4 mt-5"
        style="max-width: 18rem"
      >
        <div class="card-header">Example</div>
        <div class="card-body">
          <p class="card-text">
            {{data.example}}
          </p>
         
        </div>
      </div>
      {% endif %}



      {% if data.synonyms %}
      <div
        class="card text-white bg-{{data.color}} mb-3 ml-4 mt-5"
        style="max-width: 18rem"
      >
        <div class="card-header">Synonyms</div>
        <div class="card-body">
          <p class="card-text">
            {% for synonyms in data.synonyms %} {{synonyms}}, {% endfor %} etc.
          </p>
        
        </div>
      </div>
      {% endif %}
      
   

     {% if data.antonyms %}
      <div
        class="card text-white bg-{{data.color}} mb-3 ml-4 mt-5"
        style="max-width: 18rem"
      >
        <div class="card-header">Antonyms</div>
        <div class="card-body">
          <p class="card-text">
            {% for antonyms in data.antonyms %} {{antonyms}}, {% endfor %} etc.
          </p>
        </div>
      </div>
      {% endif %}
      
    </div>
     </div>
    {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
